@font-face {
  font-family: "Trebuchet";
  src: url("./fonts/trebuc.ttf");
}

*{
  padding: 0px;
  margin: 0px;
}

body {
  background-color: #0a4b73;
  font-family: "Trebuchet", sans-serif;
  color: #737373;
}

header, main, footer{
    background-color: #3bacd9;
    margin-top: 50px;
}

header{
    height: 230px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#logos > img{
    width: 60%;
}

#logos{
    width: 430px;
    height: 180px;
    background-color: white;
    text-align: center;
}

#menu{
    width: 730px;
    height: 85px;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

#menu > li{
    list-style: none;
    font-size: 30px;
    line-height: 85px;
    padding: 0px 10px;
}

#menu > li:hover{
    background-color: #0a4b73;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}

main{
    height: 840px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#video, #redes, #login, #apoio{
    background-color: white;
}

#geral{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}
#video{
    height: 495px;
    width: 50%;
    text-align: center;
}

#video > iframe{
    margin-top: 20px;
}

#lado-direito{
    height: 35%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;  
}

#redes{
    height: 35%;
    text-align: center;
}

#login{
    height: 64%;
    text-align: center;
}

a{
    color: #3bacd9;
}

.opcoes{
    width: 70%;
    height: 40px;
    background-color: #2484bf;
    color: white;
    font-size: 25px;
    text-align: center;
    border: none;
    border-radius: 20px;
    margin-top: 15px;
    margin-bottom: 10px;
}

.opcoes::placeholder{
    text-align: center;
    color: white;
}

#mais{
    display: flex;
    justify-content: space-around;
    /* cria um espaço entre os dois elementos */
}

button{
  background-color: #4fce2d;
  width: 20%;
  height: 40px;
  color: white;
  font-size: 25px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin: 20px;  
}

button::active{
    background-color: #2484bf;
}

#apoio{
    height: 190px;
    width: 95%;
    text-align: center;
}

#apoio > img{
    margin-top: -40px;
}

footer{
    height: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.item{
    background-color: white;
    height: 440px;
    width: 440px;
    border-radius: 20px;
    text-align: center;
}

h1{
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    margin: 10px 0px;
}

.item > p{
    width: 90%;
    margin: auto;
    font-size: 20px;
    text-align: justify;
    margin: 20px;
}

.item > img{
    width: 50%;
    margin-top: 20px;
}

.item > h2{
    text-align: start;
    margin: 20px;
    font-weight: 400;
}